[mysqld]
basedir="C:\opt\aw\\thirdparty\mysql-5.1.46-winx64"
datadir="C:\opt\aw\dbs\data"

# Put all logging and daemon status under logs/.
pid-file="C:\opt\aw\dbs\logs\dbsd.pid"
socket="C:\opt\aw\dbs\logs\dbsd.sock"
log-error="C:\opt\aw\dbs\logs\error.log"

port=3306
