/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* tab pane styling */
div.panes > div {
    display:none;       
    /*border:1px solid #999;*/
    border-top:0;
    font-size:14px;
    background-color:#fff;
}

ul.tabs {
}

body {
    background-color: #F8F8F8;
    height:100%;
}

#wrapper {
    width:1000px;
    background-color: white;
    border: 0;
    font-size: .8em;
}

#banner {
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #C8C8C8;
    height: 90px;
}

#banner .user_id {
  color: #002D4B; 
}

#banner .banner_text {
  background-color: #CDE8FF;
  margin: 5px;
  position: relative;
  top: 10px;
}

#main {
    padding-right: 10px;
    padding-left: 5px;
    margin-right: 155px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

#main h1 {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 4em;
}

#main h2 {
  font: bold;
  color: #002D4B;
  font-size: 3.5em;
  margin-top: 25px;
}

#main h3 {
  color: #002D4B;
  font-size: 1.9em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#main p {
  font-size: 1.7em;
  line-height: 150%;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 10px;
}

#banner #loggedInAs {
	position: absolute;
	right: 5px;
	top: 0;	
}

#banner #logout {
    position: absolute;
    right: 5px;
    top: 15px;
}


#controls {
    padding-right: 5px;
    float: right;
    width: 155px;
}

#footer {
    height:20px;
    color:#505050;
}

#grabDateForm {
/*    font-size: .8em;  */
  width: 160px;
}

#grabDateForm .label {
    float: left;
    width: 67px;
    margin-right: 5px;
    text-align: right;
    font-weight: bold;
    clear: left;
}

#grabDateForm #submit {
    margin-left: 72px;
    margin-top: 2px;
}

#grabDateForm #startDate {
    width: 85px;
    height: 22px;
    margin-top: -2px;
    font-size: 12px;
}

#loginForm {
  font-size: .9em;
  float: right;
  width: 222px;
  padding: 5px;
}

#loginForm input {
   margin-top:2px;
   width: 120px;
   float: right;
   height: 28px;
}

#loginForm button {
  margin-top: 3px; 
  margin-left: 102px;
}

#loginForm .label {
  font-size: 14px;	
  text-align:right;
  padding-right:2px;
  height: 30px;
  line-height: 30px;
}

.graph_title {
  font-size: 1.1em;
  font-weight:bold;
}

.loading {
    background-image: url('/css/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center top;
    display: none;
    height: 75px;
}
.f {
  font-family: Arial, sans-serif;
}
.h {
  font-size: 36px;      
  line-height: 36px;
  font-weight: normal;
}


/* ViewUpload specific styling */

/* ViewUpload header */
#ViewUpload .ViewUploadHeader {
	font-size: 1.5em;	
	position: relative;
	height: 30px;
}

#ViewUpload #ViewUploadHeader1 {
	position: absolute;
	top: 0;
	left: 200px;
}

#ViewUpload #ViewUploadHeader2 {
	position: absolute;
	top: 0;
	left: 400px;
}

#ViewUpload #ViewUploadHeader3 {
	position: absolute;
	top: 0;
	left: 600px;
}

#ViewUpload .StatDisplay {
	width:100%;	
	min-height: 33px;
	margin-bottom: -1px;
}

#ViewUpload .StatTitle {
	background-color:lightgrey;
	border:1px solid darkgrey;
	font-size:1.7em;
	height:30px;
	line-height:30px;
	position:relative;
	width:100%;
	text-align: right;
}

#ViewUpload .UserName {
	float: left;
	margin-left: 2px;
}

#ViewUpload .TimeSinceUserSurvey {
	position: absolute;
	left: 105px;
	top: 0;
	width: 200px;
}

#ViewUpload .TimeSinceUserLocation {
	position: absolute;
	left: 320px;
	top: 0;
	width: 200px;
}

#ViewUpload .PercentageGoodUploads {
	position: absolute;
	left: 520px;
	top: 0;
	width: 200px;
}

#ViewUpload .GraphEnableButton {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 5px;	
	background-image: url('/css/images/down_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

#ViewUpload div.GraphEnableButton:hover {
	background-color: darkgrey;
}

#ViewUpload .ProtoGraph {
	margin-top: -1px;
	margin-bottom: 1px;
	padding-top: 5px;
	width:100%;
	border: 1px solid darkgrey;
}

#ViewUpload {
	padding-bottom: 50px;
}

.tooltip {
	display:none;
	background:transparent url(/css/images/black_arrow.png);
	font-size:15px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
