<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
      <RollingFile name="OhmageLogRollingFile" fileName="/var/log/ohmage/ohmage.log"
                   filePattern="logs/$${date:yyyy-MM}/ohmage-%d{yyyy-MM-dd-HH}-%i.log.gz">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.} %X{request_id} [%t] %m%n"/>
          <Policies>
              <TimeBasedTriggeringPolicy/>
          </Policies>
          <DefaultRolloverStrategy max="10"/>
      </RollingFile>
      <RollingFile name="SpringLogRollingFile" fileName="/var/log/ohmage/spring.log"
                   filePattern="logs/$${date:yyyy-MM}/ohmage-%d{yyyy-MM-dd-HH}-%i.log.gz">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.} %X{request_id} [%t] %m%n"/>
          <Policies>
              <TimeBasedTriggeringPolicy/>
          </Policies>
          <DefaultRolloverStrategy max="10"/>
      </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="org.springframework" level="debug" additivity="false">
      <AppenderRef ref="SpringLogRollingFile"/>
    </Logger>
    <Root level="debug">
      <AppenderRef ref="OhmageLogRollingFile"/>
    </Root>
  </Loggers>
</Configuration>
