<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
  
  <!-- 
    this makes application properties accessible to the rest of the beans in the app via ${}-style variable references instead
    of the ref element 
  --> 
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="propertiesArray">
      <list>
        <ref bean="dbProps" />
        <ref bean="systemProps" />
        <ref bean="auditProps" />
      </list>
    </property>
  </bean>
  
  <util:map id="dbProps">
    <entry key="db.driver" value="com.mysql.jdbc.Driver"/>
    <entry key="db.jdbcurl" value="jdbc:mysql://localhost:3306/andwellness"/>
    <entry key="db.username" value="andwellness"/>
    <entry key="db.password" value="&amp;!sickly"/>
  </util:map>

  <util:map id="systemProps">
    <entry key="system.imageDir" value="/opt/aw/userdata/images" />
    <entry key="system.configurationXmlSchemaFile" value="/opt/aw/conf/configuration.xsd" />
  </util:map>
  
  <util:map id="auditProps">
    <entry key="audit.location" value="/opt/aw/as/logs/audits" />
  </util:map>

</beans>